@import "../node_modules/bulma/bulma";

html {
  padding: 10px;

  body {
    .container {
      .images {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .video {
          clear: both;

          .caption {
            text-align: center;
            font-size: 10px;
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

