@import "../node_modules/bulma/bulma";

html {
  body {
    .header {
      .container {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }
    }

    .container {
      .videos {
        padding-top: 20px;

        .video {
          @media (max-width: $tablet) {
            padding-right: 20px;
            padding-left: 20px;
          }

          &:not(:last-child) {
            border-bottom: 1px solid #cccccc;
            padding-bottom: 20px;
          }

          .caption {
            text-align: center;
            font-size: 10px;
            padding-bottom: 10px;
          }
        }

      }
    }
  }
}

