doctype html
html
    head
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        title Galleries
        link(rel='stylesheet' href='/css/styles.css')
    body
        div.header.hero.is-dark.is-small
            div.hero-head
                div.container.has-text-centered-mobile.block
                    h1.title.is-2 Galleries
        div.container
            div.videos
                each _, category in galleries
                    div.category
                        h2.title.is3 #{category}
                        each gallery in galleries[category]
                           div.video
                               a.button.is-link(href=gallery.stub) #{gallery.name}
