doctype html
html
    head
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        title #{gallery}
        link(rel='stylesheet' href='/css/styles.css')
    body
        div.container
            h1.title.is-1 #{gallery}
            div.video
                each file in videos
                    div.content
                        h2.subtitle.is-5 #{file.name}
                        div.has-text-centered
                            a.button.is-link(href=file.url) Play
