doctype html
html
    head
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        title Galleries
        style 
            include ../public/styles.css
    body
        div.header.hero.is-dark.is-small
            div.hero-head
                div.container.has-text-centered-mobile.block
                    h1.title.is-2 Galleries
        div.container
            div.videos
                each category, _ in Categories
                    div.category
                        h2.title.is3 #{category.Name}
                        each gallery in category.Galleries
                           div.video
                               a.button.is-link(href=gallery.Stub) #{gallery.Name}
