{# filepath: templates/index.tera.html #}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Galleries</title>
    <link rel="stylesheet" href="/public/styles.css">
  </head>
  <body>
    <div class="header hero is-dark is-small">
      <div class="hero-head">
        <div class="container has-text-centered-mobile block">
          <h1 class="title is-2">Galleries</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="videos">
        {% for category in Categories %}
          <div class="category">
            <h2 class="title is-3">{{ category.name }}</h2>
            {% for gallery in category.galleries %}
              <div class="video">
                <a class="button is-link" href="{{ gallery.stub }}">{{ gallery.name }}</a>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

