name: Test

on:
  pull_request:
    branches:
      - 'master'
    paths:
      - 'assets/**'
      - '**/*.go'
      - '*'
      - '.github/workflows/test.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    environment: default
    permissions:
      contents: read
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 'stable'
          cache: true

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install npm dependencies
        run: npm ci

      - name: Build Styles
        run: npm run build

      - name: Build Backend
        run: go build -o video-gallery
